.kanban {
    padding: 20px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: url('img/background.png') no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    align-items: flex-start;
    margin: 0 -6px;
    width: 100%;
    height: 100%;
}

.column {
    position: relative;
    width: calc((100% - 36px) / 4);
    min-width: 280px;
    max-height: 100%;
    min-height: 47px;
    margin: 0 6px;
    padding: 0;
    background-color: #DFE3E6;
    border-radius: 3px;
    overflow: hidden;
}

.column__title {
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    padding: 8px 12px 0;
    margin: 0;
}

.cards-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 12px 43px;
    overflow-y: auto;
}

.card {
    margin: 6px 0;
    padding: 8px 12px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
    border-radius: 3px;
    font-size: 13px;
    line-height: 19px;
}

.column__actions {
    padding: 10px 12px;
    background-color: inherit;
    cursor: pointer;
}

.column__actions_card {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

.dialog {
    display: none;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(9, 45, 66, 0.25);
    border-radius: 3px;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    padding: 8px 12px;
    margin-bottom: 12px;
}

.dialog::placeholder {
    color: #B8B9BB;
    font-family: inherit;
}

.buttons {
    display: flex;
    align-items: center;
    position: relative;
}

.open-dialog-button {
    font-size: 13px;
    line-height: 19px;
    color: #6B808C;
    background-color: transparent;
    padding: 0 0 0 23px;
    transition: all 2s ease-in-out;
    width: auto;
    height: 27px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    z-index: 10;
}

.add-button {
    background: #39C071;
    border-radius: 3px;
    /*padding: 4px 8px;*/
    font-weight: bold;
    font-size: 13px;
    line-height: 19px;
    color: #FFFFFF;
    transition: all 1s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
    width: 0;
    height: 27px;
    padding: 0;
    white-space: nowrap;
}

.column__actions_open-dialog .dialog,
.column__actions_open-dialog .dialog {
    display: block;
}

.column__actions_open-dialog .add-button,
.column__actions_open-dialog .add-button {
    width: auto;
    padding: 4px 8px;
}

.column__actions_open-dialog .open-dialog-button,
.column__actions_open-dialog .open-dialog-button {
    width: 0;
    padding: 0;
}

.buttons__icon {
    position: absolute;
    top: 6px;
    transform: rotate(0deg);
    left: 0;
    transition: all 2s ease-in-out;
}

.column__actions_open-dialog .buttons__icon,
.column__actions_open-dialog .buttons__icon {
    transform: rotate(45deg);
    right: 0;
    left: auto;
}
