:root {
    /* text */
    --font-size: 13px;
    --line-height: 19px;

    /* colors */
    --color-dark-text: #6B808C;
    --color-light-text: #B8B9BB;
    --color-background: #DFE3E6;
    --color-dark-background: #C9D2D9;

    --color-light-grey: #F5F5F5;
    --color-dark-grey: #6B808C;
    --color-white: #FFFFFF;
    --color-green: #39C071;

    /* block */

    --border-radius: 3px;
}

* {
    font-size: var(--font-size);
    line-height: var(--line-height);
}

.kanban {
    padding: 20px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background: url('../img/background.jpg') no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 -6px;
    height: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(25% - 12px);
    max-height: 100%;
    min-height: 45px;
    margin: 0 6px;
    padding: 0;
    background-color: var(--color-background);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.column__title {
    font-weight: bold;
    padding: 8px 12px 4px;
    margin: 0;
}

.column__content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 0 12px;
    overflow-y: auto;
}

.column__card-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: -6px 0;
    padding-top: 10px;
    position: relative;
    z-index: 1;
}

.card {
    margin: 4px 0;
    padding: 8px 12px;
    background: var(--color-white);
    box-shadow: 0 1px 4px rgba(9, 45, 66, 0.25);
    border-radius: var(--border-radius);
    word-break: break-word;
    transform: rotate(0);
    transition: transform 1s ease-in-out;
}

.card:hover {
    cursor: grab;
}

.column__actions {
    padding: 10px 0;
    background-color: inherit;
    cursor: pointer;
    box-sizing: border-box;
    align-content: flex-end;
    flex: 0 0 47px;
}

.column__actions_column {
    padding: 10px 12px;
}

.column__input, .column__textarea {
    height: 0;
    overflow: hidden;
}

.dialog {
    background: var(--color-white);
    box-shadow: 0 1px 4px rgba(9, 45, 66, 0.25);
    border-radius: var(--border-radius);
    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-family: inherit;
    padding: 8px 12px;
    margin-bottom: 12px;
}

.dialog_card {
    resize: none;
}

.dialog::placeholder {
    color: var(--color-light-text);
    font-family: inherit;
}

.buttons {
    display: flex;
    align-items: center;
    position: relative;
}

.open-dialog-button {
    color: var(--color-dark-text);
    background-color: transparent;
    padding: 0 0 0 23px;
    height: 27px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    z-index: 10;
    width: 100%;
    text-align: left;
}

.add-button {
    background: var(--color-green);
    border-radius: var(--border-radius);
    font-weight: bold;
    color: var(--color-white);
    box-sizing: border-box;
    overflow: hidden;
    width: 0;
    height: 27px;
    padding: 0;
    white-space: nowrap;
}

.column__actions_open-dialog .column__textarea {
    height: 63px;
}

.column__actions_open-dialog .column__input {
    height: 44px;
}

.column__actions_open-dialog .add-button,
.column__actions_open-dialog .add-button {
    width: auto;
    padding: 4px 8px;
}

.column__actions_open-dialog .open-dialog-button,
.column__actions_open-dialog .open-dialog-button {
    width: 0;
    padding: 0;
}

.buttons__icon {
    position: absolute;
    top: 6px;
    transform: rotate(0deg);
    left: 0;
}

.column__actions_open-dialog .buttons__icon {
    transform: rotate(45deg);
    right: 0;
    left: auto;
}

/* стили для скролла */

.column__content::-webkit-scrollbar-track {
	border-radius: 2px;
	background-color: var(--color-light-grey);
}

.column__content::-webkit-scrollbar {
	width: 4px;
	background-color: var(--color-light-grey);
}

.column__content::-webkit-scrollbar-thumb {
	border-radius: 2px;
	background-color: var(--color-dark-grey);
}

/* стили для dragula */

.card.gu-transit {
    opacity: 1;
    color: transparent;
    background-color: var(--color-dark-background);
    box-shadow: none;
}

.card.gu-mirror {
    opacity: 1;
    box-sizing: border-box;
    transform: rotate(5deg);
    cursor: grabbing;
}

@media (max-width: 1200px) {
    .container {
        align-content: flex-start;
        justify-content: space-between;
    }

    .column {
        flex: 1;
        max-height: calc(50% - 6px);
        margin-bottom: 6px;
    }
}

@media (max-width: 768px) {
    .container {
        align-content: flex-start;
        width: auto;
    }

    .column {
        flex: 0 0 calc(50% - 12px);
        max-height: calc(50% - 6px);
        margin-bottom: 6px;
    }

    .column:nth-child(1), .column:nth-child(2) {
        margin-bottom: 6px;
    }

    .column:nth-child(3), .column:nth-child(4) {
        margin-top: 6px;
    }
}

@media (max-width: 400px) {
    .kanban {
        height: 100%;
    }

    .column {
        flex: 0 0 calc(100% - 12px);
        height: 100%;
    }

    .column:nth-child(1),
    .column:nth-child(2),
    .column:nth-child(3),
    .column:nth-child(4) {
        margin-top: 0;
        margin-bottom: 24px;
    }
}
